<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{locals['title']}}</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/demo.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    {% block css %}
    {% endblock %}
  </head>
  <body>
         
    <div id="preloder">
        <div class="loader"></div>
    </div>

    
    <header class="header-section">
        
        <div class="container">
            <div class="inner-header">
                <div class="row">                 
                    <div class="col-lg-10 col-md-10">                      
                        <div class="logo">
                            <a href="./index.html">                               
                                <h3>
                                    <img id="logo-wide" src="/assets/img/Universidad_de_Lima_logo_2.png" alt="Ulima" height = "62px">
                                    <b>SISTEMA DE GESTIÓN DE OBJETOS PERDIDOS</b>
                                </h3>
                                <img id="logo-narrow" src="/assets/img/Universidad_de_Lima_logo_2.png" alt="Ulima" height = "62px">
                            </a>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
   
    </header>
    
<br>
{% if (session['status'] == 'active') %}
  Usuario Logeado: <b>{{session['user']}}</b>
  <br>
  Hora de Acceso: <b>{{session['time']}}</b>
  <br>
  Rol: <b>{{session['rol']}}</b>
  <br>
  <!--<a href="/login">Cerrar Sesión</a>-->
{% else %}  
  <a href="/logout">Cerrar Sesión</a>
{% endif %}
    <!-- Header End -->

    <br>
    {% block content %}{% endblock %}
  
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-widget">
                            <h5>Oficina de Objetos Perdidos</h5>
                        </div>
                        <ul>
                            <li>Ubicación: Edificio V, Oficina 303</li>
                            <li>Teléfono: 4376767 anexo 31495</li>
                            <li>Email: zvillena@ulima.edu.pe</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Información</h5>
                        <ul>
                            <li><a href="#">Sobre Nosotros</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">Horarios</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>Mi cuenta</h5>
                        <ul>
                            <li><a href="#">Registrados</a></li>
                            <li><a href="#">Solicitudes</a></li>
                            <li><a href="#">Términos de uso</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Centro de ayuda</h5>
                        <p>Preguntas frecuentes</p>
                        <p>Contacto</p>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.zoom.min.js"></script>
    <script src="/assets/js/jquery.dd.min.js"></script>
    <script src="/assets/js/jquery.slicknav.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>
    {% block js %}
    {% endblock %}
    <!-- en este bloque se va incrustar lo que esté en block js en el otro template -->
</body>
</html>