{% extends 'layouts/aplicacion2.html' %}
{% block content %}
<nav class="nav-menu mobile-menu">
    <ul>
        <li><a href="./inicio.html">Inicio</a></li>
        <li><a href="./shop.html">Registro</a></li>
        <li><a href="#">Solicitudes usuario</a></li>
        <li><a href="./blog.html">Solicitudes departamento</a></li>
        <li><a href="./contact.html">donación</a>
            <ul class="dropdown">
                <li><a href="#">Aceptadas</a></li>
                <li><a href="#">Rechazadas</a></li>
                <li><a href="#">Objetos disponibles</a></li>
            </ul>
        </li>     
    </ul>
</nav>



